/*========carousel section========*/
.carouselSection{
    padding-top: 80px;
    height: 100vh;
}
.carouselSection > .container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(100vh - 80px);
}
.carousel {
    /* max-width: 1200px; */
    width: 100%;
    height: inherit;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
    /* box-shadow: 15px 15px 12px rgba(0, 0, 0, 0.7); */
    animation-name: appear;
    animation-duration: 2s;
    overflow: hidden;
}
.carousel-inner{
    width: 100%;
}
.carousel img{
    width: 100%;
    padding: 0;
    /* max-width: 1080px; */
}

@keyframes appear {
    from {
        opacity: 0.0;
    }

    to {
        opacity: 1;
    }
}

.carousel-inner {
    /* border-radius: 10px; */
}

.item {
    position: relative;
}

[class*="carousel-item-"] {
    position: absolute;
    /* top: 10%; */
    top: 50%;
    bottom: 30%;
    left: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    /* left: 200px;  */
}

/* .slogan-first {
    position: absolute;
    top: 20%;
    left: 30%;
    font-size: 90px;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
}

.slogan-second {
    position: absolute;
    top: 65%;
    left: 75%;
    font-size: 90px;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
}

.slogan-third {
    position: absolute;
    top: 75%;
    left: 10%;
    font-size: 90px;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
}

.slogan-fourth {
    position: absolute;
    top: 45%;
    left: 10%;
    font-size: 90px;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
} */

.mobile-slider {
    display: none;
}

@media (max-width: 1024px) {
    
    .carouselSection{
        display: none;
    }
    .carousel {
        margin-top: 20px;
        margin-bottom: 100px;
        box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.7);
        display: none;
    }

    [class*="slogan-"] {
        font-size: 45px;
    }

    .slogan-third {
        top: 58%;
        left: 2%;
    }

    .mobile-slider {
        display: block;
        width: 100%;
        height: calc(100vh - 256px);
        margin-top: 56px;
        overflow: hidden;
        position: relative;
    }

    .mobile-slider img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        opacity: 0;
        width: 100%;
    }

    .mobile-slider img:nth-of-type(1) {
        animation: slider 20s linear infinite both;
    }

    .mobile-slider img:nth-of-type(2) {
        animation: slider 20s 5s linear infinite both;
    }

    .mobile-slider img:nth-of-type(3) {
        animation: slider 20s 10s linear infinite both;
    }

    .mobile-slider img:nth-of-type(4) {
        animation: slider 20s 15s linear infinite both;

    }

    .mobile-slider span {
        position: absolute;
        font-family: 'great vibes', cursive;
        font-size: 70px;
        /* color: rgb(86, 129, 185); */
        /* color: rgb(124, 141, 28); */
        text-transform: capitalize;
        color: var(--white);
    }

    .mobile-slider span:nth-of-type(1) {
        top: 45%;
        left: 30px;
        animation: sliderSpan 20s linear infinite both;
    }

    .mobile-slider span:nth-of-type(2) {
        top: 60%;
        left: 40%;
        animation: sliderSpan 20s 5s linear infinite both;
    }

    .mobile-slider span:nth-of-type(3) {
        top: 45%;
        left: 10%;
        animation: sliderSpan 20s 10s linear infinite both;
        /* color: black; */
    }

    .mobile-slider span:nth-of-type(4) {
        top: 25%;
        left: 5%;
        animation: sliderSpan 20s 15s linear infinite both;
        /* color: black; */
    }

    @keyframes slider {
        0% {
            opacity: 0;
            transform: translate(-50%, -50%) scale(1);
        }

        5% {
            opacity: 1;
        }

        25% {
            opacity: 1;
        }

        30% {
            opacity: 0;
            transform: translate(-50%, -50%) scale(1.1);
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes sliderSpan {
        0% {
            opacity: 0;
        }

        4% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        21% {
            opacity: 1;
        }

        25% {
            opacity: 0;
            transform: translate(15px, 10px) scale(1.1);
        }

        100% {
            opacity: 0;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .carouselSection{
        display: none;
    }
    .mobile-slider span {
        font-size: 85px !important;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    .mobile-slider {
        min-width: 100%;
        min-height: calc(100vh - 50px);
        margin-top: 51px;
    }

    .mobile-slider img {
        min-height: 100%;
        min-width: 100%;
    }
}