footer {
    background-color: #000;
    height: 200px;
    text-align: center;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    color: var(--light);
    font-size: 18px;
    font-family: var(--paragraph);
    display: block;
}

footer .footer-slogan {
    font-family: 'Anton', sans-serif;
    font-size: 22px;
}

footer .footer-brand {
    font-size: 22px;
}

footer .phone-link {
    margin-right: 20px;
}

footer i {
    font-size: 20px;
    color: var(--blue);
    margin-right: 10px;
}

footer a {
    text-decoration: none;
    font-size: 18px;
    color: var(--light);
}

footer a:hover {
    text-decoration: none;
    color: var(--medium);
    cursor: pointer;
}

footer a:focus {
    text-decoration: none;
    color: var(--medium);
}

@media (max-width: 1024px) {

    footer {
        line-height: 40px;
    }

    footer a {
        display: block;
    }
}

@media (max-width: 767px){
    footer .footer-slogan{
        font-size: 18px;
    }
    footer .footer-brand {
        font-size: 18px;
    }
    footer a {
        font-size: 16px;
    }
}

