*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    /*background-image: url(https://cdn.pixabay.com/photo/2016/10/22/01/54/wood-1759566_960_720.jpg);*/
    background-image: url(background/wood-1759566_1920.jpg);
}

/*===========globals=========*/
#preloader{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1);
    z-index: fixed;
}
#preloader #image{
    width: 120px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #000 url(blue_loading.gif) no-repeat center;
    margin: -60px 0 0 -60px;
}
.scroll-up{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    position: fixed;
    right: 20px;
    bottom: 30px;
    background-color: rgba(66, 179, 244, 0.5);
    text-align: center;
    z-index: 100;
    display: none;
}
.scroll-up:hover{
    background-color: rgba(66, 179, 244, 0.8);
}
.scroll-up:hover i{
    color: rgba(255, 255, 255, 0.8);
}
.scroll-up a{
    display: block;
    width: 100%;
    height: 100%;
}
.scroll-up i{
    color: rgba(255, 255, 255, 0.5);
    font-size: 55px;
}
@media (max-width: 767px){
    .scroll-up{
        right: 10px;
        bottom: 50px;
    }
}

/*======header======*/

header .container-fluid{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
header .navbar-brand span{
    font-size: 30px;
    font-family: 'Merienda', cursive;
    color: #9d9d9d;
}
header nav ul li a{
    font-size: 18px;
    font-family: 'Play', sans-serif;
    transition: .5s;
}
header nav ul li a:hover{
    transform: scale(1.2);
}
header .navbar-brand span:hover{
    color: white;
}
.dropdown{
    display: none;
    float: right;
    margin-top: 10px;
}
.dropdown .dropdown-menu{
    background-color: #222;
    width: 92vw;
}
.dropdown .dropdown-menu li{
    text-align: center;
}
.dropdown .dropdown-menu li a{
    transition: .1s; 
    border-radius: 5px;
    color: lightgrey;
    font-size: 24px;
    font-family: 'Play', sans-serif;
}
.dropdown .dropdown-menu li a:hover{
    color: white;
    background-color: #31B0D5;
}
@media (max-width: 767px){
    .navbar-header{
        display: inline-block;
    }
    .dropdown{
        display: inline-block;
    }
    .dropdown a:hover{
        transform: scale(0.9);
    }
    /*===gallery.html only=====*/
    .navigate-brand{
        display: inline-block;
        float: left;
    }
    .navigate-link{
        display: inline-block;
        float: right;
    }
}

/*======gallery.html/projects section====*/

.projects{
    height: 100%;
    animation-name: appear;
    animation-duration: 4s;
}
@keyframes appear{
    from {opacity: 0.0;}
    to {opacity: 1;}
}
.projects .row{
    margin: 0;
    width: 100%;
}
.projects p{
    color: white;
    font-family: 'Merienda', sans-serif;
    font-size: 16px;
    border-bottom: 1px solid #888;
}
.projects .wrapper{
    margin-top: 80px;
    border-radius: 20px;
}
.projects .wrapper [class*='col-md']{
    min-height: 400px;
}
.projects [class*='projects-item']{
    height: 290px;
    border: 2px solid white;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 15px;
    box-shadow: 4px 4px 10px black;
    transition: .5s;
}
.projects [class*='projects-item']:hover{
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.7);
}
.projects .item-layer{
    background-color: rgba(45, 45, 45, 0.35);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: block;
    transition: .5s;
}
.projects .item-layer:hover{
    background-color: rgba(45, 45, 45, 0);
    display: block;
    
}
.projects .projects-item-1{
    background-image: url(photo/obraz1.jpg);
    background-position: center;
    background-size: cover;
}
.projects .projects-item-2{
    background-image: url(photo/obraz6.jpg);
    background-position: center;
    background-size: cover;
}
.projects .projects-item-3{
    background-image: url(photo/obraz16.jpg);
    background-position: center;
    background-size: cover;
}
.projects .projects-item-4{
    background-image: url(photo/obraz20.jpg);
    background-position: center;
    background-size: cover;
}
.projects .projects-item-5{
    background-image: url(photo/obraz22.jpg);
    background-position: center;
    background-size: cover;
}
.projects .projects-item-6{
    background-image: url(photo/obraz25.jpg);
    background-position: center;
    background-size: cover;
}
.projects .projects-item-7{
    background-image: url(photo/obraz40.jpg);
    background-position: center;
    background-size: cover;
}
.projects .projects-item-8{
    background-image: url(photo/obraz46.jpg);
    background-position: center;
    background-size: cover;
}
.projects .projects-item-9{
    background-image: url(photo/obraz54.jpg);
    background-position: center;
    background-size: cover;
}
.projects .projects-item-10{
    background-image: url(photo/obraz63.jpg);
    background-position: center;
    background-size: cover;
}
.projects .projects-item-11{
    background-image: url(photo/obraz66.jpg);
    background-position: center;
    background-size: cover;
}
@media (max-width: 767px){
    .projects .wrapper [class*='col-md']{
        min-height: 200px;
    }
    .projects [class*='projects-item']{
        height: 200px;
    }
}

/*======gallery[number].html/gallery======*/

.gallery{
    height: 100%;
    animation-name: appear;
    animation-duration: 1.5s;
}
@keyframes appear{
    from {opacity: 0.0;}
    to {opacity: 1;}
}
.photo-viewer{
    position: relative;
    min-height: 550px;
    overflow: hidden;
}
.photo-viewer img{
    margin-top: -270px !important;
    border-radius: 15px;
}
.thumbnails{
    text-align: center;
    background-color: rgba( 40, 40, 40, 0.7);
}
.thumbnails img{
    height: 100px;
}
.photo-viewer.is-loading:after{
    /*content: ;*/
    position: absolute;
    top: 0;
    right: 0;
}
.photo-viewer img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
}
a.active{
    opacity: 0.4;    
}
@media (max-width: 960px){
    .gallery{
        margin-top: 10vh;    
    }
}

/*======mobile gallery======*/

.mobile{
    display: none;
    animation-name: appear;
    animation-duration: 1s;
}
@keyframes appear{
    from {opacity: 0.0;}
    to {opacity: 1;}
}
@media (max-width: 767px){
    .mobile{
        display: block;
        text-align: center;
    }
    .mobile .container{
        text-align: center;
    }
    .mobile .container img{
        margin-left: auto;
        margin-right: auto;
    }
    .desk{
        display: none;
    }
}


/*==========footer=========*/

footer{
    background-color: #222;
    height: 200px;
    text-align: center;
    line-height: 50px;
}
footer div{
    height: 50%;
}
footer span{
    color: lavender;
    font-size: 18px;  
    font-family: 'Play', sans-serif;
    display: block;
}
footer .footer-slogan{
    font-family: 'Courgette', cursive;
    font-size: 20px;
}
footer .footer-brand{
    font-size: 22px;
}
footer .developer{
    font-size: 12px;
    color: lightgray;
}
footer .developer:hover{
    color: #31B0D5;
    cursor: pointer;
}
footer .developer:focus{
    text-decoration: none;
}
footer .phone-link{
    margin-right: 20px;
}
footer i{
    font-size: 20px;
    color: #31B0D5;
    margin-right: 10px;
}
footer a{
    text-decoration: none;
    font-size: 18px;
    color: lavender;
}
footer a:hover{
    text-decoration: none;
    color: #31B0D5;
    cursor: pointer;
}
footer a:focus{
    text-decoration: none;
    color: lavender;
}
@media (max-width: 767px){
    footer{
        line-height: 40px;
    }
    footer span{
        font-size: 16px;
    }
    footer a{
        display: block;
    }
}

