header nav .container-fluid {
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: black;
}

header nav .navbar-brand span {
    font-size: 30px;
    font-family: 'major mono display', monospace;
    font-weight: bold;
    color: var(--light);
}

header nav ul li a {
    font-size: 18px;
    font-family: var(--paragraph);
    transition: .3s;
    color: var(--light) !important;
}

header nav ul li a:hover {
    color: var(--blue) !important;
}

.dropdown {
    display: none;
    float: right;
    margin-top: 10px;
}

.dropdown button{
    background-color: var(--blue) !important;
}
.dropdown .dropdown-menu {
    background-color: #000;
    width: 100vw;
    border: none;
    padding: 20px 0;
}

.dropdown .dropdown-menu li {
    text-align: center;
}

.dropdown .dropdown-menu li a {
    transition: .1s;
    border-radius: 5px;
    color: var(--light);
    font-size: 24px;
}

.dropdown .dropdown-menu li a:hover {
    background-color: var(--medium);
}

@media (max-width: 767px) {
    header .container-fluid {
        padding-right: 0;
    }

    .navbar-header {
        display: inline-block;
    }

    .dropdown {
        display: inline-block;
        width: 60px;
    }

    .dropdown .dropdown-menu li a{
        font-size: 20px;
        padding: 8px 0;
    }

    .dropdown a:hover {
        transform: scale(0.9);
    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    .dropdown {
        display: none;
    }
}