*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: lightslategray !important;
    /*background-image: url(https://cdn.pixabay.com/photo/2016/10/22/01/54/wood-1759566_960_720.jpg);*/
    background-image: url(background/wood-1759566_1920.jpg);
}

section{
    margin-bottom: 70px;
}

/*========header========*/

header nav .container-fluid{
    width: 80%;
    margin: 0 auto;
    position: relative;
}
header nav .navbar-brand span{
    font-size: 30px;
    font-family: 'Merienda', cursive;
}
header nav ul li a{
    font-size: 18px;
    font-family: 'Play', sans-serif;
    transition: .5s;
}
header nav ul li a:hover{
    transform: scale(1.2);
}
.dropdown{
    display: none;
    float: right;
    margin-top: 10px;
}
.dropdown .dropdown-menu{
    background-color: #888;
}
.dropdown .dropdown-menu li{
    text-align: center;
}
.dropdown .dropdown-menu li a{
    transition: .1s; 
    border-radius: 5px;
}
.dropdown .dropdown-menu li a:hover{
    color: white;
    background-color: #333;
}
@media (max-width: 767px){
    .navbar-header{
        display: inline-block;
    }
    .dropdown{
        display: inline-block;
    }
    .dropdown a:hover{
        transform: scale(0.9);
    }
}


/*========carousel section========*/

.carousel{
    max-width: 1000px;
    margin: 0 auto;
}
.item{
    position: relative;
}
[class*="carousel-item-"]{
    position: absolute;
    top: 10%;
}
.slogan-first{
    position: absolute;
    top: 20%;
    left: 30%;
    font-size: 70px;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
}
.slogan-second{
    position: absolute;
    top: 65%;
    left: 75%;
    font-size: 70px;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
}
.slogan-third{
    position: absolute;
    top: 75%;
    left: 10%;
    font-size: 70px;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
}
.slogan-fourth{
    position: absolute;
    top: 45%;
    left: 10%;
    font-size: 70px;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
}
@media (max-width: 767px){
    [class*="slogan-"]{
        font-size: 45px;
    }
    .slogan-third{
        top: 58%;
        left: 2%;
    }
}


/*========offer section==========*/

.offer .container h1,
.offer .container h2,
.offer .container h3,
.offer .container h4,
.offer .container h5,
.offer .container h6{
    color: #f1c40f;
    display: inline-block;
    font-family: 'Archivo Black', sans-serif;
}
.offer .container p{
    color: lavender;
    width: 80%;
    margin: 0 auto;
    padding: 30px 10%;
    font-size: 18px;
    line-height: 1.4em; 
    font-family: 'Play', sans-serif;
}
@media (max-width: 767px){
    .offer .container h1,
    .offer .container h3,
    .offer .container h4{
        display: none;
    }
    .offer .container h6{
        font-size: 10px;
    }
    .offer .container h2{
        font-size: 21px;
    }
    .offer .container p{
        width: 90%;
    }
}

/*=======gallery section=========*/

[class*="image-"]{
    position: relative;
}
.layer{
    width: 100%;
    height: 100%;
    background: rgba( 40, 40, 40 ,0.7);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    cursor: pointer;
}
.layer span{
    color: white;
    font-size: 18px;
    font-family: 'Archivo Black', sans-serif;
}
[class*="image-"]:hover .layer{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*========about us section========*/

.aboutUs .container h1,
.aboutUs .container h2,
.aboutUs .container h3,
.aboutUs .container h4,
.aboutUs .container h5,
.aboutUs .container h6{
    color: #3498db;
    font-family: 'Archivo Black', sans-serif;
}
.aboutUs .container small{
    color: #2980b9;
    font-family: 'Archivo Black', sans-serif;
}
.aboutUs .container p{
    color: lavender;
    width: 80%;
    margin: 0 auto;
    padding: 10px 10%;
    font-size: 18px;
    line-height: 1.4em;
    font-family: 'Play', sans-serif;
}
@media (max-width: 767px){
    .aboutUs .container h1,
    .aboutUs .container h2{
        display: none;
    }
    .aboutUs .container h3{
        font-size: 28px;
    }
    .aboutUs .container h4{
        font-size: 16px;
    }
    .aboutUs .container h5{
        font-size: 12px;
    }
    .aboutUs .container h6{
        font-size: 9px;
    }
    .aboutUs .container p{
        width: 90%;
    }
}

/*=========hr=========*/

.horizontal-up{
    width: 55%;
    margin-left: 15%;
}
.horizontal-mid{
    width: 40%;
    margin-left: 40%;
}
.horizontal-down{
    width: 30%;
    margin-left: 25%;
}
    
/*=========contact section=========*/

.contact .container .address{
    margin-bottom: 50px;
}

.contact .container .address h2{
    color: #27ae60;
    font-size: 40px;
    font-family: 'Archivo Black', sans-serif;
}
.contact .container .address p{
    color: lavender;
    font-size: 18px;
    line-height: 2em;
    padding: 20px 0;
    font-family: 'Play', sans-serif;
}
.contact .container .wrapper{
    display: flex;
    justify-content: center;
}

/*==========footer=========*/

footer{
    background-color: #222;
    height: 80px;
    display: flex;     
}
footer div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer span{
    color: lavender;
    font-size: 18px;  
    font-family: 'Play', sans-serif;
}
@media (max-width: 767px){
    footer span{
    font-size: 13px;  
} 
}
