*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    /*padding-top: 80px;
    background-color: lightslategray !important;
    /*background-image: url(https://cdn.pixabay.com/photo/2016/10/22/01/54/wood-1759566_960_720.jpg);*/
    background-image: url(background/wood-1759566_1920.jpg);
}

/*========open section=========*/

.open-section{
    width: 100%;
    height: 101vh;
    background-image: url(https://images.pexels.com/photos/122588/pexels-photo-122588.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.open-section .layer{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 40, 0.5);
}
.open-section .container{
    width: 50%;
    height: auto;
    margin: auto;
    padding: 30px;
}
.open-section h1{
    display: block;
    text-align: center;
    color: #f1c40f;
    font-size: 60px;
    font-family: 'Courgette', cursive;
    margin-top: 0;
}
.open-section h3{
    display: block;
    text-align: center;
    color: #f1c40f;
    font-size: 30px;
    font-family: 'Courgette', cursive;
}
.open-section h4{
    display: block;
    text-align: center;
    color: #f1c40f;
    font-size: 22px;
    font-family: 'Courgette', cursive;
}
.open-section span{
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 14px;
    font-family: 'Merienda', cursive;
    color: #f1c40f;
}
@media (max-width: 767px){
    .open-section .container{
        width: 100%;
    }
    .open-section h1{
        font-size: 45px;
        margin-bottom: 25px;
        margin-top: 0;
        text-align: center;
    }
    .open-section h3{
        font-size: 25px;
        text-align: center;
    }
    .open-section span{
        font-size: 12px;
    }
}
.main{
    display: none;
}

/*====globals====*/

.scroll-up{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    position: fixed;
    right: 40px;
    bottom: 50px;
    background-color: rgba(66, 179, 244, 0.5);
    text-align: center;
    z-index: 10;
    transition: .3s ease all;
    display: none;
}
.scroll-up:hover{
    background-color: rgba(66, 179, 244, 1);
}
.scroll-up a{
    display: block;
    width: 100%;
    height: 100%;
}
.scroll-up i{
    color: rgba(255, 255, 255, 0.5);
    font-size: 55px;
}
.horizontal{
    width: 50px;
    margin: 10px auto 0 auto;
    border-bottom: thin solid rgba(255, 255, 255, 0.5);
}
.vertical{
    height: 230px;
    margin-left: 50%;
    border-left: thin dotted rgba(255, 255, 255, 0.5);
}
.icon{
    border: thin solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    text-align: center;
    color: rgba(255, 229, 2, 0.5);
    font-family: 'Merienda', cursive;
    font-size: 30px;
    width: 70px;
    padding: 15px;
    margin: 0 auto 10px auto;
}
@media (max-width: 767px){
    .scroll-up{
        right: 10px;
        bottom: 50px;
    }
    .horizontal{
        width: 30px;
    }   
    .vertical{
        height: 170px;
    }
    .icon{
        width: 30px;
        padding: 5px;
        font-size: 14px;
    }
    .horizontal-first,
    .vertical-first,
    .icon-first{
        display: none;
    }
}

/*========header========*/

header nav .container-fluid{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
header nav .navbar-brand span{
    font-size: 30px;
    font-family: 'Merienda', cursive;
}
header nav ul li a{
    font-size: 18px;
    font-family: 'Play', sans-serif;
    transition: .5s;
}
header nav ul li a:hover{
    transform: scale(1.2);
}
.dropdown{
    display: none;
    float: right;
    margin-top: 10px;
}
.dropdown .dropdown-menu{
    background-color: rgba(159, 190, 223, 0.9);
    width: 320px;
}
.dropdown .dropdown-menu li{
    text-align: center;
}
.dropdown .dropdown-menu li a{
    transition: .1s; 
    border-radius: 5px;
    color: rgb(13, 25, 38);
}
.dropdown .dropdown-menu li a:hover{
    color: white;
    background-color: rgb(41, 82, 163);
}
@media (max-width: 767px){
    .navbar-header{
        display: inline-block;
    }
    .dropdown{
        display: inline-block;
    }
    .dropdown a{
        font-size: 20px;
    }
    .dropdown a:hover{
        transform: scale(0.9);
    }
}


/*========carousel section========*/

.carousel{
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 80px;
    margin-bottom: 60px;
    box-shadow: 15px 15px 12px rgba(0, 0, 0, 0.7);
    /*animation-name: appear;
    animation-duration: 2s;*/
}
/*@keyframes appear{
    from {opacity: 0.0;}
    to {opacity: 1;}
}*/
.carousel-inner{
    border-radius: 10px;
}
.item{
    position: relative;
}
[class*="carousel-item-"]{
    position: absolute;
    top: 10%;
}
.slogan-first{
    position: absolute;
    top: 20%;
    left: 30%;
    font-size: 70px;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
}
.slogan-second{
    position: absolute;
    top: 65%;
    left: 75%;
    font-size: 70px;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
}
.slogan-third{
    position: absolute;
    top: 75%;
    left: 10%;
    font-size: 70px;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
}
.slogan-fourth{
    position: absolute;
    top: 45%;
    left: 10%;
    font-size: 70px;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
}
@media (max-width: 767px){
    .carousel{
        margin-bottom: 20px;
        box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.7);
    }
    [class*="slogan-"]{
        font-size: 45px;
    }
    .slogan-third{
        top: 58%;
        left: 2%;
    }
}


/*========offer section==========*/

.offer .container{
    padding: 80px 0;
    background-color: rgba(20, 20, 20 , 0.5);
    border-radius: 20px;
    animation-name: appear;
    animation-duration: 2s;
}
@keyframes appear{
    from {opacity: 0.0;}
    to {opacity: 1;}
}
.offer .container h2,
.offer .container h3,
.offer .container h4,
.offer .container h5,
.offer .container h6{
    color: #f1c40f;
    display: inline-block;
    font-family: 'Archivo Black', sans-serif;
}
.offer .container p{
    color: lavender;
    width: 80%;
    margin: 0 auto;
    padding: 30px 10%;
    font-size: 18px;
    line-height: 1.4em; 
    font-family: 'Play', sans-serif;
}
@media (max-width: 767px){
    .offer .container{
        padding: 10px 0;
    }
    .offer .container h1,
    .offer .container h3,
    .offer .container h4{
        display: none;
    }
    .offer .container h6{
        font-size: 10px;
    }
    .offer .container h2{
        font-size: 21px;
    }
    .offer .container p{
        width: 90%;
    }
}

/*=======gallery section=========*/

.mini-gallery{
    padding: 100px 0;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.mini-gallery .row{
    margin: 0;
}
.mini-gallery .container{
    text-align: center;
}
.info{
    width: 300px;
    height: 50px;
    line-height: 12px;
    padding: 0;
    background-color: #badc58;
    margin-bottom: 50px;
    border:4px solid black;
    border-radius: 5px;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.7);
    transition: .5s;
}
.info:hover{
    background-color: #6ab04c;
}
.info a{
    text-decoration: none;
    color: black;
    font-family: 'Play', sans-serif;
    font-size: 20px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
}
.mini-gallery [class*="image-"]{
    position: relative;
    /*margin-top: 50px;*/
    min-height: 180px;
    border: 1px solid black;
    box-shadow: 15px 15px 12px rgba(0, 0, 0, 0.7);
}
.mini-gallery .image-1{
    background-image: url(mini-gallery/obraz2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 5px 0 0 0;
}
.mini-gallery .image-2{
    background-image: url(mini-gallery/obraz7.jpg);
    background-size: cover;
    background-position: center;
}
.mini-gallery .image-3{
    background-image: url(mini-gallery/obraz16.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 0 5px 0 0;
}
.mini-gallery .image-4{
    background-image: url(mini-gallery/obraz21.jpg);
    background-size: cover;
    background-position: center;
}
.mini-gallery .image-5{
    background-image: url(mini-gallery/obraz22.jpg);
    background-size: cover;
    background-position: center;
}
.mini-gallery .image-6{
    background-image: url(mini-gallery/obraz25.jpg);
    background-size: cover;
    background-position: center;
}
.mini-gallery .image-7{
    background-image: url(mini-gallery/obraz37.jpg);
    background-size: cover;
    background-position: 60% 20%;
    min-height: 200px;
}
.mini-gallery .image-8{
    background-image: url(mini-gallery/obraz50.jpg);
    background-size: cover;
    background-position: center;
    min-height: 200px;
}
.mini-gallery .image-9{
    background-image: url(mini-gallery/obraz54.jpg);
    background-size: cover;
    background-position: 60% 65%;
    border-radius: 0 0 0 5px;
}
.mini-gallery .image-10{
    background-image: url(mini-gallery/obraz64.jpg);
    background-size: cover;
    background-position: center;
}
.mini-gallery .image-11{
    background-image: url(mini-gallery/obraz65.jpg);
    background-size: cover;
    background-position: 100% 100%;
    border-radius: 0 0 5px 0;
}
.layer{
    width: 100%;
    height: 100%;
    background: rgba( 40, 40, 40 ,0.7);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    cursor: pointer;
}.layer a{
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.layer i{
    color: lightgray;
    font-size: 30px;
}
[class*="image-"]:hover .layer{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px){
    .mini-gallery{
        padding: 20px 0;
    }
    .mini-gallery .container{
        text-align: right;
    }
    .info{
        width: 150px;
        height: 40px;
        line-height: 25px;
        margin-bottom: 30px;
    }
    .info a{
        padding: 3px;
    }
    .mini-gallery [class*="image-"]{
        min-height: 120px;
    }
    .mini-gallery .image-1{
        background-position: 40% 50%;
    }
    .mini-gallery .image-2{
        background-position: 55% 35%;
    }
    .mini-gallery .image-3{
        background-position: 40% 45%;
    }
    .mini-gallery .image-4{
        background-position: 68% 55%;
    }
    .mini-gallery .image-7{
        min-height: 125px;
        background-position: 70% 50%;
    }
    .mini-gallery .image-8{
        min-height: 125px;
    }
    .mini-gallery .image-9{
        background-position: 35% 60%;
    }
    .mini-gallery .image-10{
        background-position: 43% 50%;
    }
    .mini-gallery .image-11{
        background-position: 48% 50%;
    }
}


/*========about us section========*/

.aboutUs .container{
    padding: 80px 0;
    background-color: rgba(20, 20, 20 , 0.5);
    border-radius: 20px;
}
.aboutUs .container h1,
.aboutUs .container h2,
.aboutUs .container h3,
.aboutUs .container h4,
.aboutUs .container h5,
.aboutUs .container h6{
    color: #3498db;
    font-family: 'Archivo Black', sans-serif;
}
.aboutUs .container h1{
    margin-bottom: 50px;
}
.aboutUs .container small{
    color: #2980b9;
    font-family: 'Archivo Black', sans-serif;
}
.aboutUs .container p{
    color: lavender;
    width: 80%;
    margin: 0 auto;
    padding: 10px 10%;
    font-size: 18px;
    line-height: 1.4em;
    font-family: 'Play', sans-serif;
}
@media (max-width: 767px){
    .aboutUs .container{
        padding: 10px 0;
    }
    .aboutUs .container h1,
    .aboutUs .container h2{
        display: none;
    }
    .aboutUs .container h3{
        font-size: 28px;
    }
    .aboutUs .container h4{
        font-size: 16px;
    }
    .aboutUs .container h5{
        font-size: 12px;
    }
    .aboutUs .container h6{
        font-size: 9px;
    }
    .aboutUs .container p{
        width: 90%;
    }
}
    
/*=========contact section=========*/

.contact .container{
    padding: 80px 0;
    background-color: rgba(20, 20, 20 , 0.5);
    border-radius: 20px;
}
.contact .container .address{
    margin-bottom: 10px;
}

.contact .container .address h2{
    color: #27ae60;
    font-size: 40px;
    font-family: 'Archivo Black', sans-serif;
}
.contact .container .address p{
    color: lavender;
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 2em;
    padding: 10px 0;
    font-family: 'Play', sans-serif;
}
.contact .container .address p a{
    text-decoration: none;
    color: #badc58;
}
.contact .container .address p a:hover{
    color: #6ab04c;
}
.contact .container .address p a:visit{
    color: #badc58;
}
.contact .container .wrapper{
    display: flex;
    justify-content: center;
}
@media (max-width: 767px){
    .contact .container{
        padding: 10px 0;
    }
}

/*==========footer=========*/

footer{
    background-color: #222;
    height: 80px;
    display: flex;  
}
footer div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer span{
    color: lavender;
    font-size: 18px;  
    font-family: 'Play', sans-serif;
}
@media (max-width: 767px){
    footer span{
    font-size: 13px;  
    } 
}
